@-webkit-keyframes slider1 {
  0% {
    -webkit-transform: translateY(-10%) scale(1.2);
            transform: translateY(-10%) scale(1.2);
  }
  100% {
    -webkit-transform: translateY(10%) scale(1.2);
            transform: translateY(10%) scale(1.2);
  }
}

@keyframes slider1 {
  0% {
    -webkit-transform: translateY(-10%) scale(1.2);
            transform: translateY(-10%) scale(1.2);
  }
  100% {
    -webkit-transform: translateY(10%) scale(1.2);
            transform: translateY(10%) scale(1.2);
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 1px) {
  header {
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px 0;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }
  header > div {
    position: relative;
  }
  header > div .logo_activo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .whiteHeader {
    background-color: #ffffff;
    border-bottom: 2px solid #eee;
    padding: 10px 0;
  }
  .greenColor {
    color: #5bb75b;
  }
  .greenBackground {
    background-color: #5bb75b;
  }
  .whiteColor {
    color: #ffffff;
  }
  .magentaColor {
    color: #dd2f42;
  }
  .redColor {
    color: #da4f49;
  }
  .redBackground {
    background-color: #da4f49;
  }
  .blackColor {
    color: #000000;
  }
  .skyBackground {
    background-color: #49afcd;
  }
  .yellowBackground {
    background-color: #fcb53f;
  }
  .blueBackground {
    background-color: #0074cc;
  }
  .secondFont {
    font-family: "Oswald", sans-serif;
  }
  .bxslider > div {
    height: 60vh;
  }
  .sliderWrapp {
    overflow: hidden;
    position: relative;
  }
  .sliderWrapp img {
    height: 100%;
    width: auto;
    max-width: inherit;
    -webkit-animation-name: slider1;
            animation-name: slider1;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    z-index: 2;
  }
  .sliderWrapp .caption {
    color: #ffffff;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sliderWrapp .caption h2 {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    font-family: "Oswald", sans-serif;
  }
  .sliderWrapp .caption h3 {
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
  }
  .sliderWrapp:first-child img {
    position: relative;
    left: -80%;
  }
  .ventajas,
  .dashboard,
  .vision,
  .optmimiza_wrapp,
  .contact {
    margin-top: 5vw;
  }
  .ventajas > h3,
  .dashboard > h3,
  .vision > h3,
  .optmimiza_wrapp > h3,
  .contact > h3 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    width: 80%;
    text-align: center;
  }
  .ventajas > h2,
  .dashboard > h2,
  .vision > h2,
  .optmimiza_wrapp > h2,
  .contact > h2 {
    color: #dd2f42;
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
    width: 80%;
    text-align: center;
  }
  .ventajas .diamont,
  .dashboard .diamont,
  .vision .diamont,
  .optmimiza_wrapp .diamont,
  .contact .diamont {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #dd2f42;
  }
  .ventajas .diamont::before,
  .dashboard .diamont::before,
  .vision .diamont::before,
  .optmimiza_wrapp .diamont::before,
  .contact .diamont::before {
    content: '///////////////////////////////////////////////';
    font-weight: 400;
    position: absolute;
    font-size: 1rem;
    color: #898989;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: -1;
    letter-spacing: 2px;
  }
  .ventajas .diamont > i,
  .dashboard .diamont > i,
  .vision .diamont > i,
  .optmimiza_wrapp .diamont > i,
  .contact .diamont > i {
    border-left: #ffffff 9px solid;
    border-right: #ffffff 9px solid;
    font-size: 1.8rem;
  }
  .itemVentaja {
    margin: 10px 0;
  }
  .itemVentaja > i {
    font-size: 2.5rem;
    color: #dd2f42;
    margin-bottom: 10px;
  }
  .itemVentaja > p {
    font-family: "Oswald", sans-serif;
    font-size: 1.9rem;
  }
  .talk {
    height: 70vh;
    margin: 70px 0 30px;
    position: relative;
  }
  .talk::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .talk > div {
    position: relative;
    z-index: 1;
  }
  .talk h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
  }
  .talk h2 span {
    color: #dd2f42;
  }
  .button {
    background-color: #dd2f42;
    color: #ffffff;
    padding: 15px 0;
    display: block;
    width: 150px;
    margin: 40px auto 0;
    border: 1px solid #dd2f42;
    text-transform: uppercase;
  }
  .button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .dashboard {
    margin-bottom: 40px;
  }
  .itemDashboard {
    margin: 40px 0;
  }
  .itemDashboard > h2 {
    font-size: 1.9rem;
    font-family: "Oswald", sans-serif;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 100;
  }
  .itemDashboard > p {
    font-size: 1.3rem;
  }
  .itemDashboard > i {
    font-size: 2.2rem;
    margin-top: 10px;
  }
  .fontNormal {
    font-style: normal !important;
  }
  .infoVision {
    margin: 40px 0;
  }
  .message_alert {
    border: 1px solid #ffeccc;
    padding: 20px;
    background-color: #fff4e2;
  }
  .message_alert i {
    color: #fcb53f;
    font-size: 2rem;
  }
  .message_alert p {
    color: #9d8967;
  }
  .message_success {
    border: 1px solid #cfebfe;
    padding: 20px;
    background-color: #cfebfe;
  }
  .message_success i {
    color: #1bbc9b;
    font-size: 2rem;
  }
  .message_success p {
    color: #5e7f96;
  }
  .progressBar .bar {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 30px;
    width: 100%;
    position: relative;
  }
  .progressBar .bar .porcentaje {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
  }
  .progressBar .bar .porcentaje > p {
    margin-left: 10px;
  }
  .optmimiza {
    height: auto;
    min-height: 100vh;
    padding: 40px;
    margin-bottom: 40px;
    position: relative;
  }
  .optmimiza::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .optmimiza .optmimiza_wrapp {
    position: relative;
    z-index: 2;
  }
  .magentaBorder {
    border: 2px solid #dd2f42 !important;
  }
  .itemOptimiza {
    margin: 50px 20px 40px;
  }
  .itemOptimiza .number {
    background-color: #1c1a1b;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 4rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .optmimiza_wrapp .itemOptimiza:last-child .number::before, .optmimiza_wrapp .itemOptimiza:last-child .number::after {
    display: none;
  }
  .contact form {
    margin-top: 10px;
  }
  .contact form i {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px 0px 0px 4px;
    font-size: 1.3rem;
    height: 31px;
    color: #555;
    min-width: 30px;
    margin-right: -1px;
  }
  .contact form input,
  .contact form textarea {
    padding: 5px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    height: 33px;
    display: block;
    font-size: 1.4rem;
  }
  .contact form textarea {
    height: 202px;
  }
  .contact form .textarea {
    height: 200px;
  }
  .contact form .submit {
    width: 100%;
    margin: 10px 0;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
  }
  footer {
    background-color: #2d2d2d;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 20px 0;
    margin-top: 40px;
  }
  .upArrow {
    position: fixed;
    right: 10px;
    bottom: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 45px;
    height: 45px;
    color: #ffffff;
    font-size: 2rem;
    opacity: 0;
    z-index: 99;
  }
  .activeUp {
    opacity: 1 !important;
  }
  .loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dd2f42;
    color: #ffffff;
    opacity: 0;
    z-index: -9;
  }
}

@media all and (min-width: 500px) {
  .bxslider > div {
    height: 90vh;
  }
  .sliderWrapp:first-child img {
    left: 0;
  }
  .sliderWrapp img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

@media all and (min-width: 760px) {
  .bxslider > div {
    height: 60vh;
  }
  .sliderWrapp:first-child img {
    left: -50%;
  }
  .sliderWrapp img {
    height: 100%;
    width: auto;
    max-width: inherit;
  }
}

@media all and (min-width: 1024px) {
  .sliderWrapp:first-child img {
    left: 0;
  }
  .sliderWrapp img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

@media all and (min-width: 1025px) {
  .bxslider > div {
    height: 70vh;
  }
  .bxslider .caption h2 {
    font-size: 9rem;
  }
  .bxslider .caption h3 {
    font-size: 5.4rem;
  }
  .talk {
    height: 45vh;
  }
  .optmimiza {
    height: 60vh;
    min-height: 40vh;
  }
  .itemOptimiza .number::before {
    content: '';
    width: 125%;
    background-color: #ffffff;
    height: 2px;
    position: absolute;
    top: 0;
    right: -125%;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
  }
  .itemOptimiza .number::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    right: -70%;
    position: absolute;
  }
}
/*# sourceMappingURL=styles.css.map */